


header {
    background: #FFE1D1;
    width: 100%;
    color: white;
    height: 100px;
    font-size: 40px;
    }

.nav-header {
    padding-top: 15px;
    padding-left: 50px;
    padding-right: 30px;
}
.nav-bar {
    padding-top: 15px;
    padding-left: 30px;
    font-size: 25px;
}
.nav-header, .nav-image {
    float: left;
}
.nav-bar-right {
    float: right;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
a {
    text-decoration: none;
}  

a, a:visited {
    color: inherit;
}
li {
      float: left;
}
  
li a {
      display: block;
      color: black;
      text-align: center;
      padding: 16px;
      text-decoration: none;
}
  a {
    text-decoration: none;
}
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.container {
    padding: 0px;
    width: 90%;
    margin: 20px auto 50px auto;  
}

.container-story {
    width: 80%;
    margin: 0 auto;
}

.banner-image {
    margin: 0 auto;
    display: block;
    width: 40%;
}

footer {
    background: #D0ECEA;

}

.authentic_grace_logo {
    padding: 0px;
}


.container-within-footer {
    padding: 25px;
}

.footer_logo_column {
    width: 180px;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
        margin-top: 0px;
        margin-right: auto;
        margin-bottom: 0px;
        margin-left: auto;
}


ul .social_media_links{
        margin-top: 10px;
        text-align: center;
        width: 180px;
        padding: 50px;
}

.social_media_links li {
        display: inline-block;
        list-style: none;
            list-style-type: none;
            list-style-position: initial;
            list-style-image: initial;

}

li {
    padding: 0px;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
}
.social_media_links li a {
    display: inline-block;
    padding: 10px 5px;
    font-size: 20px;
    text-align: center;
}

a {
    background-color: transparent;
}

.row-about-and-help{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.about-section {

}

.footer_about_links{
    text-align: left;
}
ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: block;
}

.footer_help_links{
    text-align: left;
}

div {
    display: block;
}

.story::after {
    content: "";
    clear: both;
    display: table;
}

.story-section-left {
    float: left;
    width: 60%;  
}

.story-section-right {
    float: left;
    width: 40%;   
}

.story-section-left p {
    margin-left: 150px;
    margin-right: 50px;
}

.story-section-left h1 {
    margin-left: 150px;
    
}

.categories {
    text-align: center;

}

.categories::after {
    content: "";
    clear: both;
    display: table;
  }
.category {
    float: left;
    width: 33.33%;
}

.category-icon {
    position: relative;
    
}

.category-icon p {
    position: absolute;
    top: 60px;
    width: 100%;
    color: black;
    font-size: 40px;
    background: rgba(255, 255, 255, 0.7);
}

h1 {
   font-size: 50px; 
}

.testimonials {
    text-align: center;

}
.testimonials::after {
    content: "";
    clear: both;
    display: table;
  }
.testimonial {
    float: left;
    width: 50%;
    
}

.testimonial-icon {
    position: relative;
}

.testimonial-icon p {
    position: absolute;
    top: 60px;
    width: 100%;
    color: black;
    font-size: 40px;
    background: rgba(255, 255, 255, 0.7);
}