
/* header css*/
header {
    background: #FFE1D1;
    width: 100%;
    color: black;
    height: 100px;
    font-size: 40px; 
    }

.nav-header {
    padding-top: 15px;
    padding-left: 50px;
    padding-right: 30px;
}
.nav-bar {
    padding-top: 15px;
    padding-left: 30px;
    font-size: 25px;
}
.nav-header, .nav-image {
    float: left;
}

.nav-actions-ul {
    float: right;
    vertical-align: center;
    padding-right: 40px;
}
.nav-actions-ul li {
    float: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}  

a, a:visited {
    color: inherit;
}

.nav-bar li {
      float: left;
}
  
.nav-bar li a {
      display: inline;
      color: black;
      text-align: center;
      padding: 16px;
      text-decoration: none;
}

.nav-actions-ul li a {
    display: inline;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding-bottom: 0;
}
/*add a line break between sections */
hr {
    width: 80%;
    height: 8px;
    margin-left: auto;
    margin-right: auto;
    background-color:#FFBD99;
    border: 0 none;
    margin-top: 100px;
    margin-bottom:100px;
    }

.container {
    padding: 0px;
    width: 90%;
    margin: 20px auto 50px auto;  
}

.container-story {
    width: 80%;
    margin: 0 auto;
}

.banner-image {
    margin: 0 auto;
    display: block;
    width: 50%;
}


div {
    display: block;
}

.story::after {
    content: "";
    clear: both;
    display: table;
}

.story-section-left {
    float: left;
    width: 60%;  
}

.story-section-right {
    float: left;
    width: 40%;   
}

.story-section-left p {
    margin-left: 150px;
    margin-right: 50px;
}

.story-section-left h1 {
    margin-left: 150px;
    
}

.categories {
    text-align: center;

}

.categories::after {
    content: "";
    clear: both;
    display: table;
  }
.category {
    float: left;
    width: 33.33%;
}

.category-icon {
    position: relative;
    
}

.category-icon p {
    position: absolute;
    top: 60px;
    width: 100%;
    color: black;
    font-size: 40px;
    background: rgba(255, 255, 255, 0.7);
}

h1 {
   font-size: 50px; 
}

.testimonials {
    text-align: center;

}
.testimonials::after {
    content: "";
    clear: both;
    display: table;
  }
.testimonial {
    float: left;
    width: 50%;
    
}

.testimonial-icon {
    position: relative;
}

.testimonial-icon p {
    position: absolute;
    top: 60px;
    width: 100%;
    color: black;
    font-size: 40px;
    background: rgba(255, 255, 255, 0.7);
}
/*----Product Page----*/
/* Style the list */

ul.sub-header {
    margin-top: 0;
    padding: 25px 35px;
    list-style: none;
    background: #D0ECEA;
    width: 100%;
  }

/* Display list items side by side */

ul.sub-header li {
    display: inline;
    font-size: 16px;
    color: black;
   }

/* Add a slash symbol (/) before/behind each list item */
ul.sub-header li+li:before {
    /* padding: 20px; */
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.sub-header li a {
    color:black;
    text-decoration: none;
    padding-top: 0;
}

/* Add a color on mouse-over */
ul.sub-header li a:hover {
    color: #FFE1D1;
    text-decoration: none;
}

/*form-flex button */
.buy-button {
    cursor: pointer;
    display: block;
    align-items: center;
    justify-content: space-between;
    /* width: 100%; */
}

/* Value-button */
form {
    float: left;
    width: 300px;
    margin: 0 auto;
    text-align: left;
    padding-top: 10px;
  }
  
  .value-button {
    display: inline-block;
    border: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    padding: 11px 0;
    background: #eee;
  }
  
  .value-button:hover {
    cursor: pointer;
    color: white;
  }
  
  form #decrease {
    margin-right: -4px;
    border-radius: 8px 0 0 8px;
  }
  
  form #increase {
    margin-left: -4px;
    border-radius: 0 8px 8px 0;
  }
  
  form #input-wrap {
    margin: 0px;
    padding: 0px;
  }
  
  input#number {
    text-align: center;
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 40px;
  }
  
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }

.product-left {
    float: left;
    width: 40%;  
}

.product-right {
    float: left;
    width: 60%; 
    padding-left: 0px;  
}
.container-product {
    width: 60%;
    margin: 100px auto;
}


.product::after {
    content: "";
    clear: both;
    display: table;
}


.footer-container {
    background: #D0ECEA;
    height: 150px;
    width: 100%;
    padding-bottom: 10px;
}


.social_media_links {
    padding-top: 10px;
    float: left;
    margin-left: 60px;
}

.social_media_links li {
    padding: 10px;
    float: left;

}

.logo_container img {
    margin-left: 80px;
    margin-top: 10px;
    margin-bottom: 0;
}

.about_links_container {
    float: left;
    margin-left: 150px;   
}


.help_links_container {
    float: left;
    margin-left: 150px;
}


.subscription_email_listing_container, .subscription_email_entry_container {
    float: right;
    margin-right: 200px;
    padding: 5px;
}
.subscription {
    padding-top: 40px;
}

