/* For Tablets */
@media all and (max-width: 1000px) {
  .container {
    margin: 0 auto;
  }
    .category  {
      width: 50%;
      margin-bottom: 50px;
    }
    
    .testimonial {
          width: 100%;
        }
  
}

    /* For Smartphones */
@media all and (max-width: 670px) {
    .category, .testimonial, .story-section-left, .story-section-right {
      width: 90%;
      margin: 0 auto;
    }

  
      
    }